<div class="coll-bottom-section container">
    
    <div class="row">
    
    <div class="col-12 col-md-5">
      <h2 class="coll-bottom-section-headline">Elevate your office workspace</h2>
      <p class="coll-bottom-section-text">Want to make your office more comfortable to work in? A proper work environment can lead to productivity and long term health. 
<br><br>
We offer bulk purchases to improve your office space with our high quality ergonomic desks, chairs and accessories.

</p>
      <a class="coll-bottom-section-cta" href="/pages/commercial">Visit Commercial Sales Page</a>
    </div>
    <div class="col-12 col-md-7">
    <img class="coll-bottom-section-img" src="https://cdn.shopify.com/s/files/1/0252/9656/8413/files/Optimized-DSC_4823.jpg?v=1614970521">
    </div>
      
    </div>
  
  </div>