{%- if product.title contains "Standing Desk"  or product.tags contains "desk accessories" -%}
  <div class="container">

    <div class="row m-0 pt-4 pb-4 no-gutters overviewsection03 flex-md-row">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="overContent03">
          <h2>What People Are Saying</h2>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center youtube-box">
        <div data-label="Youtube" data-key="youtube" id="m-1623938634862" class="module-wrap" data-icon="gpicon-youtube"
          data-ver="1" data-id="1623938634862" style="width: 100%;">
          <div class="module gf_module- " data-url="https://www.youtube.com/watch?v=99HSLxtnuXg" data-width=""
            data-height="" data-responsive="1" data-sound="1" data-autoplay="0" data-loop="0" data-controls="1"
            data-showinfo="" data-modestbranding="1" data-fs="1" data-rel="" data-hd="" data-start="" data-end="">
            <style>
              .gempage-video {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 0;
                padding-bottom: 56.27198%;
              }

              .gempage-video iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            </style>
            <div class="gempage-video">
              <iframe width="500" height="294" class="lazyload"
                data-src="https://www.youtube.com/embed/99HSLxtnuXg?1=1&amp;modestbranding=1&amp;enablejsapi=1"
                frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div style="font-size: 0.8em"></div>
          </div>
          <div class="gf_youtube-overlay"></div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center youtube-box">
        <div data-label="Youtube" data-key="youtube" id="m-1623938634862" class="module-wrap" data-icon="gpicon-youtube"
          data-ver="1" data-id="1623938634862" style="width: 100%;">
          <div class="module gf_module- " data-url="https://www.youtube.com/watch?v=TVtlZVWqNJo" data-width=""
            data-height="" data-responsive="1" data-sound="1" data-autoplay="0" data-loop="0" data-controls="1"
            data-showinfo="" data-modestbranding="1" data-fs="1" data-rel="" data-hd="" data-start="" data-end="">
            <style>
              .gempage-video {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 0;
                padding-bottom: 56.27198%;
              }

              .gempage-video iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            </style>
            <div class="gempage-video">
              <iframe width="500" height="294" class="lazyload"
                data-src="https://www.youtube.com/embed/TVtlZVWqNJo?1=1&amp;modestbranding=1&amp;enablejsapi=1"
                frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div style="font-size: 0.8em"></div>
          </div>
          <div class="gf_youtube-overlay"></div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center youtube-box">
        <div data-label="Youtube" data-key="youtube" id="m-1623938634862" class="module-wrap" data-icon="gpicon-youtube"
          data-ver="1" data-id="1623938634862" style="width: 100%;">
          <div class="module gf_module- " data-url="https://www.youtube.com/watch?v=6txJQcOl5sw" data-width=""
            data-height="" data-responsive="1" data-sound="1" data-autoplay="0" data-loop="0" data-controls="1"
            data-showinfo="" data-modestbranding="1" data-fs="1" data-rel="" data-hd="" data-start="" data-end="">
            <style>
              .gempage-video {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 0;
                padding-bottom: 56.27198%;
              }

              .gempage-video iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            </style>
            <div class="gempage-video">
              <iframe width="500" height="294" class="lazyload"
                data-src="https://www.youtube.com/embed/6txJQcOl5sw?1=1&amp;modestbranding=1&amp;enablejsapi=1"
                frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div style="font-size: 0.8em"></div>
          </div>
          <div class="gf_youtube-overlay"></div>
        </div>
      </div>
    </div>

  </div>
{%- endif -%}