<div class="cart-template">
  <div class="container cart-header">
	<img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0252/9656/8413/files/PSD_2018_06_23_Logo_black-8.png">
    <a href="/">Go to MotionGrey.com</a>
</div>
  <div class="container">
  	{% section 'cart-template' %}  
  </div>  
</div>

